.text-package{color:#d4bc89!important}
.text-permission{color:#81b622!important}
.btn-icon-split{
    padding:0;
    overflow:hidden;
    display:inline-flex;
    align-items:stretch;
    justify-content:center
}
.btn-icon-split .icon{
    background:rgba(0,0,0,.15);
    display:inline-block;
    padding:.375rem .75rem
}
.btn-icon-split .text{
    display:inline-block;
    padding:.375rem .75rem
}
.btn-group-sm>.btn-icon-split.btn .icon,.btn-icon-split.btn-sm .icon{padding:.25rem .5rem}
.btn-group-sm>.btn-icon-split.btn .text,.btn-icon-split.btn-sm .text{padding:.25rem .5rem}
.btn-group-lg>.btn-icon-split.btn .icon,.btn-icon-split.btn-lg .icon{padding:.5rem 1rem}
.btn-group-lg>.btn-icon-split.btn .text,.btn-icon-split.btn-lg .text{padding:.5rem 1rem}
.hide{display: none;}